<div id="image-modal-container" (click)="exitImagePreview()"  *ngIf="imageDisplayUrl">
  <div class="close-wrapper">
    <span class="close close-image-preview" (click)="exitImagePreview()">&times;</span>
  </div>
  <div  id="image-modal-wrapper">
    <img id='preview-iamge'src="{{imageDisplayUrl}}"/>
  </div>
</div>
<text class="clickable" (click)="showImage()">{{imageName}}</text>
