#image-modal-container {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  padding: 30px 320px;
  z-index: 10;
  background-color: rgba(1, 1, 1, 0.5);
  .close-wrapper{
    position: absolute;
    right: 10px;
    top: 10px;
    .close-image-preview:hover {
      cursor: pointer;
    }
  }
  #image-modal-wrapper {
    position: relative;
    margin: 0 auto;
  }
  #preview-iamge {
    margin: 0 auto;
    display:block;
    max-height: 90vh;
  }
}

.clickable {
  &:hover {
    cursor: pointer;
  }
  color: #1976d2;
  text-decoration: underline;
  margin-left: 0.2em;
  margin-right: 0.2em;
}
