<div class="pre-operation-section">
  <select-assignee class="modalbox select-assignee" *ngIf="showSelectAssignee"
                   (cancelEvent)="closeModal()"
                   (afterSuccess)="afterSuccess()"
                   [vehiclesAssignee]="vehiclesAssignee">

  </select-assignee>
  <button type="button"
          [ngClass]="{'btn btn-primary waves-light':true,'disabled':!hasAssignee()}"
          (click)="openModal()">
    Assign
  </button>
  <button-modalbox class="modalbox"
                   [buttonTitle]="'Clear Assignment'"
                   [title]="'Confirm'"
                   [disabled]="isAllSelectedTaskNoAssignee()"
                   [description]="'Confirm to clear Assignment?'"
                   (submitEvent)="confirmClear()">
  </button-modalbox>
</div>
