.pre-operation-section {
  display: inline-block;
}
.select-assignee{
  width: 100%;
  display: block;
  position: relative;
}
button{
  padding-top:12px;
  padding-bottom:12px;
}
button.disabled{
  background-color: #5a95f5 !important;
}
