.modal-wrapper {
  pointer-events: all !important;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 80px;
  left: 0px;
  .confirm-modal {
    margin: 0 auto;
  }
}
button{
  padding-top:12px;
  padding-bottom:12px;
}
button.disabled{
  background-color: #5a95f5 !important;
}

