<div class="modal-wrapper" *ngIf="isVisable">
  <div class="modal-dialog modal-notify modal-info confirm-modal" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead">{{title}}</p>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <p>{{description}}</p>
        </div>
      </div>
      <ng-content></ng-content>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-warning" (click)="cancel()">{{leftButton || 'No'}} </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal"  (click)="onYesBtnPressed()">{{rightButton||'Yes'}}</button>
      </div>
    </div>
  </div>
</div>

<button type="button" [ngClass]="{'btn btn-primary waves-light':true,'disabled':disabled}"  (click)="triggerModalBox()" mdbRippleRadius>{{buttonTitle}}</button>


