<div class="container root-container">
  <div *ngIf="vehicleDelegations?.length !== 0">
    <table class="table">
      <thead>
        <tr>
          <th>Plate No</th>
          <th>VIN</th>
          <th>External Delegate</th>
          <th>External Delegate Mobile Phone</th>
          <th>Internal Delegate</th>
          <th>Internal Delegate Business Phone</th>
          <th>Internal Delegate Mobile Phone</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let delegation of vehicleDelegations;">
          <td class="w-100px">{{delegation.plateNo||delegation.legacyPlateNo}}</td>
          <td>{{delegation.vin}}</td>
          <td>{{delegation.externalDelegate.loginId}}</td>
          <td>{{delegation.externalDelegate.mobilePhone}}</td>
          <td>{{delegation.internalDelegate.empId}}</td>
          <td>{{delegation.internalDelegate.businessPhone}}</td>
          <td>{{delegation.internalDelegate.mobilePhone}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="operation-section">
    <paging [pageSize]="pageSize"
            [fetchDataPromise]="getFetchDataPromise()"
            (updateStatus)="updateData($event)"
            (updateCurrentPageNumber)="updateCurrentPageNumber($event)"></paging> </div>

  <div class="search-section">
    <div class="with-label inline-block">
        <label for="search-plate-number-vin" class="input-label w-120">Plate number / VIN</label>
        <input [(ngModel)]="searchKeyWord" type="text" id="search-plate-number-vin" class="form-control"
               placeholder=" Input complete plate number or VIN "
               (keyup.enter)="search()"
        >
    </div>
    <button type="button" class="btn btn-primary" (click)="search()">Search</button>
  </div>

  <div class="no-result-found" *ngIf="emptyResult">
    <span>No vehicle matches your search</span>
  </div>

  <div class="delegate-section" *ngIf="vehicle">
    <div class="with-label">
        <label for="plate-number" class="input-label" >PlateNo</label>
        <span  id="plate-number" class="form-control">{{vehicle.plateNo||vehicle.legacyPlateNo}}</span>
    </div>
    <div class="with-label">
        <label for="vin-number" class="input-label" >VIN</label>
        <span id="vin-number" class="form-control">{{vehicle.vin}}</span>
    </div>
    <div class="with-label">
      <label for="external-delegate-input" class="input-label">External delegate</label>
      <div *ngIf="externalDelegateViewStatus" class="inline-block">
        <span type="text" id="external-delegate-display" class="form-control">{{vehicle.externalDelegate.loginId||'None'}}</span>
        <button type="button" class="btn btn-primary" (click)="externalDelegateViewStatus=false">Edit</button>
      </div>
      <div *ngIf="!externalDelegateViewStatus" class="inline-block">
        <input type="text" id="external-delegate-input" class="form-control input-in-edit" #externalDelegateId
               placeholder="Input complete login ID"/>
        <button type="button" class="btn btn-primary"
                (click)="updateExternalDelegate(externalDelegateId.value)">Save</button>
      </div>
    </div>
    <div class="with-label">
      <label for="internal-delegate-input" class="input-label">Internal delegate</label>
      <div *ngIf="internalDelegateViewStatus" class="inline-block">
        <span type="text" id="internal-delegate-display" class="form-control">{{vehicle.internalDelegate.empId||'None'}}</span>
        <button type="button" class="btn btn-primary" (click)="internalDelegateViewStatus=false">Edit</button>
      </div>
      <div *ngIf="!internalDelegateViewStatus" class="inline-block">
        <input type="text" id="internal-delegate-input" class="form-control input-in-edit" #internalDelegateEmpId
               placeholder="Input complete empId"/>
        <button type="button" class="btn btn-primary"
                (click)="updateInternalDelegate(internalDelegateEmpId.value)">Save</button>
      </div>
    </div>
  </div>
</div>

