.container{
  padding-top: 20px;
}
.search-section{
  .input-with-label{
    display:inline-block;
  }
  margin-bottom: 20px;
}
.delegate-section{
  padding-top:20px;
  border-top: 1px solid #eeeeee;
}
.with-label{
  padding-bottom: 20px;
  height: 3rem;
  label{
    width:200px;
    color: #757575;
    font-size: 1rem;
  }
  span{
    width:280px;
    border: none;
    display: inline-block;
    font-size: 1rem;
    line-height: 0.8;
  }
  input{
    width:280px;
    display:inline-block;
  }
}
.w-120{
 width:120px;
}
.w-100px{
  width:100px;
}
.inline-block{
  display:inline-block;
}
button{
  padding-bottom:12px;
  padding-top:12px;
  margin-top:0px;
  margin-bottom:0px;
}
input{
  margin-bottom: 0px;
  padding-bottom: 6px;
}
.input-in-edit{
  padding-top:0px;
  padding-bottom: 0px;
  margin-top: 2px;
}

.operation-section {
  margin-top: 20px;
  text-align: right;
}
