<div class="modal-wrapper">
  <div class="modal-dialog modal-notify modal-info confirm-modal" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead">Select Assignee</p>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <p class="text-for-dropdown-list">Select Fleet Admin to Assign</p>
        </div>
        <div class="dropdown" dropdown>
          <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle waves-light" ripple-radius>
            {{ !selectedFleetAdmin ? "Select Fleet Admin" : selectedFleetAdmin.fullName }}
          </button>
          <div class="dropdown-menu dropdown-primary">
            <a class="dropdown-item" *ngFor="let fleetAdmin of fleetAdmins"
               (click)="selectFleetAdmin(fleetAdmin)" >
              {{fleetAdmin.fullName}}
            </a>
          </div>
        </div>
      </div>

      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-warning" (click)="onCancelBtnPressed()">Cancel </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal"  (click)="onOkBtnPressed()">OK</button>
      </div>
    </div>
  </div>
</div>
