.modal-wrapper{
  pointer-events:all !important;
  position:absolute;
  width:100%;
  height:100%;
  top:80px;
  .confirm-modal{
    margin:0 auto;
  }
}
.text-for-dropdown-list{
  text-align: left;
  margin-left: 6px;
  margin-bottom: 0px;
}
.modal-footer{
  button{
    padding-top:12px;
    padding-bottom:12px;
  }
}

