.root-container {
  position: relative;
  height: 90vh;
  padding-top: 20px;
}

.pre-operation-section {
  .reject-button-modalbox {
    .textarea-wrapper {
      margin: 0 20px 20px 20px;
    }
    textarea {
      resize: none;
      border-radius: 4px;
      border-color: #eeeeee;
      color: #616161;
      font-weight: 300;
      height: 80px;
    }
    /deep/ .modal-body {
      padding-bottom: 10px;
      p {
        text-align: left;
      }
    }
    /deep/ .modal-footer{
      padding-left: 230px;
    }
  }

}

.table-container {
  overflow: auto;
  border-left: 0.5px solid #eeeeee;
  border-right: 0.5px solid #eeeeee;
  box-shadow: 1px 0px 10px #f0f0f0;
  table {
    .min-witdh-for-td {
      min-width: 120px;
    }
    td, th {
      padding-top: 0.30rem;
      padding-bottom: 0.30rem;
    }
    td {
      white-space: nowrap;
    }
    th {
      white-space: unset;
    }
    thead th {
      font-weight: bold;
    }
    li {
      display: inline;
    }
    .zero-margin-paddding {
      margin: 0px;
      padding: 0px;
    }
    input[type="checkbox"] {
      margin-left: 10px;
    }
    p {
      overflow: hidden;
      text-overflow: ellipsis;
      width: 200px;
      margin-bottom: 0px;
    }
  }
}

.wider-container {
  width: 90%;
}

.operation-section {
  float: right;
  margin-top: 20px;
}

.min-100 {
  min-width: 100px;
}

input[disabled] {
  cursor: not-allowed;
}

.tbody-checkbox {
  position: relative;
  input[disabled] + label {
    display: inherit;
    position: absolute;
    bottom: 2px;
    left: 23px;
    border-radius: 2px;
    margin-bottom: .5rem;
    background-color: #ddd;
    width: 10px;
    height: 10px;
  }
}

.bold-font {
  font-weight: bold;
}


