<div class="container root-container">
  <div class="pre-operation-section">
    <button-modalbox class="modalbox"
                     [disabled]="noSubmitStocktakeRecords()"
                     [buttonTitle]="'Approve'"
                     [title]="'Confirm'"
                     [description]="'Confirm to approver selected records?'"
                     (submitEvent)="approve()">
    </button-modalbox>
    <button-modalbox class="modalbox reject-button-modalbox"
                     [disabled]="noSubmitStocktakeRecords()"
                     [isValid]="hasFillComment()"
                     [buttonTitle]="'Reject'"
                     [title]="'Confirm'"
                     [leftButton]="'Cancel'"
                     [rightButton]="'Confirm'"
                     [description]="'Please leave comment for the rejection'"
                     (cancelEvent)="cancelReject()"
                     (validateBeforeSubmit)="validateHasFillComment()"
                     (submitEvent)="reject()">
        <div class="textarea-wrapper">
          <textarea type="text" [(ngModel)]="rejectComment" (ngModelChange)="clearErrorMsg()"></textarea>
          <div class="error-message-wrapper">
            <p class="error-message" *ngIf="showErrorMsg">
              <span class="badge badge-danger">Error:</span> Please input the rejection commnet!
            </p>
          </div>
        </div>
    </button-modalbox>
  </div>
  <div class="table-container">
  <table class="table">
    <thead>
    <tr>
      <th><input type="checkbox" class="form-check-input" [(ngModel)]="isAllChecked"/></th>
      <th>No</th>
      <th>Status</th>
      <th>Time</th>
      <th>Plate Number</th>
      <th>VIN</th>
      <th>Make</th>
      <th>Model</th>
      <th>Usage</th>
      <th>Province</th>
      <th>City</th>
      <th>Zone</th>
      <th>Detail Address</th>
      <th>Exterior Color</th>
      <th>Interior Color</th>
      <th>Insurance Valid</th>
      <th>Annual Check Overdue</th>
      <th>Warning Triangle</th>
      <th>Fire Extinguisher</th>
      <th>Floor Mats</th>
      <th>Mileage</th>
      <th>Damage</th>
      <th>Car is mobile and Usable</th>
      <th>Car Photos</th>
      <th>Damage Photos</th>
      <th>Submitter Full Name</th>
      <th>Submitter Role</th>
      <th>Vehicle User Name</th>
      <th>Reject Comment</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let stocktakeRecord of stocktakeRecords; let i = index">
      <th class="tbody-checkbox">
        <input id="checkbox_{{i}}"type="checkbox" class="form-check-input" [disabled]="!isNeedOperation(stocktakeRecord)" [(ngModel)]="stocktakeRecord.isChecked" (ngModelChange)="toggleRecord()"/>
        <label for="checkbox_{{i}}" class="disabled"></label>
      </th>
      <th scope="row">{{ pageSize*(currentPageNumber-1)+i + 1 }}</th>
      <td>{{getStatueByType(stocktakeRecord.examineStatusType)}}</td>
      <td>{{ getDate(stocktakeRecord.commitTime)|date:'y-MM-dd hh:mm:ss a' }}</td>
      <td class="bold-font">{{ stocktakeRecord.plateNo }}</td>
      <td>{{ stocktakeRecord.vin }}</td>
      <td>{{ stocktakeRecord.make }}</td>
      <td>{{ stocktakeRecord.model }}</td>
      <td>{{ stocktakeRecord.usage }}</td>
      <td>{{ stocktakeRecord.province }}</td>
      <td>{{ stocktakeRecord.city }}</td>
      <td>{{ stocktakeRecord.zone }}</td>
      <td>{{ stocktakeRecord.detailAddress }}</td>
      <td>{{ stocktakeRecord.exteriorColour }}</td>
      <td>{{ stocktakeRecord.interiorColour }}</td>
      <td>{{ stocktakeRecord.insuranceValid ? 'YES': 'NO' }}</td>
      <td class="min-witdh-for-td">{{ stocktakeRecord.annualCheckOverdue ? 'YES': 'NO' }}</td>
      <td>{{ stocktakeRecord.warningTriangle }}</td>
      <td>{{ stocktakeRecord.fireExtinguisher }}</td>
      <td>{{ stocktakeRecord.floorMats }}</td>
      <td>{{ stocktakeRecord.mileage }}</td>
      <td>{{ stocktakeRecord.damageLevel }}</td>
      <td class="min-witdh-for-td">{{ stocktakeRecord.carIsMobileAndUsable }}</td>
      <td>
        <ul class="zero-margin-paddding">
          <li>
            <image-previewer [imageName]="'Left-front'" [imageUrl]="stocktakeRecord.leftFrontImage"></image-previewer>
          </li>
          <li>
            <image-previewer [imageName]="'Right-back'" [imageUrl]="stocktakeRecord.rightBackImage"></image-previewer>
          </li>
          <li>
            <image-previewer [imageName]="'Vehicle License'" [imageUrl]="stocktakeRecord.vehicleLicenseImage"></image-previewer>
          </li>
          <li>
            <image-previewer [imageName]="'Odometer'" [imageUrl]="stocktakeRecord.odometerImage"></image-previewer>
          </li>
        </ul>
      </td>
      <td>
        <ul class="zero-margin-paddding" *ngIf="stocktakeRecord.damagePhotos.length>0">
          <li *ngFor="let damagePhoto of stocktakeRecord.damagePhotos; let ind = index">
            <image-previewer [imageName]="ind+1 + ' '+ damagePhoto.site"[imageUrl]="damagePhoto.imageId"></image-previewer>
          </li>
        </ul>
        <text *ngIf="stocktakeRecord.damagePhotos.length===0">
          none
        </text>
      </td>
      <td class="min-100">{{stocktakeRecord.submitterFullName}}</td>
      <td>{{stocktakeRecord.submitterRole}}</td>
      <td class="min-100">{{stocktakeRecord.vehicleUserName}}</td>
      <td><p title="{{stocktakeRecord.rejectComment}}">{{stocktakeRecord.rejectComment}}</p></td>

    </tr>
    </tbody>
  </table>
  </div>
  <div class="operation-section">
    <paging [pageSize]='pageSize'
            [fetchDataPromise]="getfetchDataPromise()"
            (updateStatus)="updateData($event)"
            (updateCurrentPageNumber)="updateCurrentPageNumber($event)"
    ></paging>
  </div>

</div>

