<div class="container root-container">
  <div class="flex-center flex-column">
    <div class="card login-card">
      <div class="card-body">
        <form>
          <p class="h5 text-center mb-4">Sign in</p>

          <div class="md-form">
            <i class="fa fa-user prefix grey-text"></i>
            <input type="text" id="defaultForm-email" class="form-control" mdbActive [(ngModel)]="loginBody.loginId"
                   [ngModelOptions]="{standalone: true}">
            <label for="defaultForm-email">Your login id</label>
          </div>

          <div class="md-form">
            <i class="fa fa-lock prefix grey-text"></i>
            <input type="password" id="defaultForm-pass" class="form-control" mdbActive [(ngModel)]="loginBody.password"
                   [ngModelOptions]="{standalone: true}">
            <label for="defaultForm-pass">Your password</label>
          </div>
          <div >
            <p class="error-message" *ngIf="isLoginFailed"><span class="badge badge-danger">Error:</span> Your password dose not match the username! </p>
            <p class="error-message" *ngIf="!isLoginFailed && isNotSystemAdminLogin"><span class="badge badge-danger">Error:</span> Only system admin has access. </p>
          </div>
          <div class="text-center">
            <button class="btn btn-default waves-light" ripple-radius (click)="submitLogin()">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
