<div class="container root-container">
  <app-modal-add-user *ngIf="isShowAddUserForm" (closeEvent)="toggleAddUserForm()" (submitEvent)="submitForm($event)" ></app-modal-add-user>
  <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>Login ID</th>
      <th>Full Name</th>
      <th>Role</th>
      <th>Mobile</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let user of users; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ user.loginId }}</td>
      <td>{{ user.fullName }}</td>
      <td>{{ user.role }}</td>
      <td>{{ user.mobile }}</td>
      <td>
        <button-modalbox class="modalbox delete-button-modal-box"
                         [buttonTitle]="'Delete'"
                         [title]="'Confirm'"
                         [description]="'Confirm to delete the account?'"
                         (submitEvent)="deleteUser(user.id)">
        </button-modalbox>

      </td>
    </tr>
    </tbody>
  </table>
  <div>
    <button type="button" class="btn btn-primary waves-light" (click)="toggleAddUserForm()">Add User</button>
  </div>
</div>

