.add-user-form-container {
  z-index: 99;
  position: fixed;
  width: 100%;
  height: 100vh;
}

app-modal-add-user {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}
.container {
  padding-top:20px;
  table{
    td,th {
      padding-top: 0.30rem;
      padding-bottom: 0.30rem;
    }
  }
}
/deep/.delete-button-modal-box > button{
  padding: 4px 8px !important;
  border-radius: 3px;
  background-color: #F35F7A;
  margin: 0;
  font-size: 12px;
  &:hover,&:active,&:focus{
    background-color: #EF7A82 !important;
  }
}
