<div class="container root-container">
  <div>
      <handle-assignee  [selectedVehiclesAssignee]="getSelectedVehiclesAssignees()"
                        (refreshData)="updateTheCurrentPageData()"
                        (clearAssigneeEvent)="clearAssigneeRecord()"
      >

      </handle-assignee>

    <div class="search-section">
      <div class="with-label">
          <input [(ngModel)]="searchContext" type="text" class="form-control"
                placeholder="Search context"
          >
      </div>
      <button type="button" class="btn btn-primary" (click)="search()">Search</button>
    </div>

  </div>

  <table class="table vehicles-assignees-table">
    <thead>
    <tr>
      <th><input type="checkbox" class="form-check-input" [(ngModel)]="IsAllChecked"/></th>
      <th>No.</th>
      <th>Status</th>
      <th>Plate Number</th>
      <th>VIN</th>
      <th>Make</th>
      <th>Model</th>
      <th>Usage</th>
      <th>Assignee</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let assigneeInfo of vehiclesAssignees; let i = index">
      <th><input type="checkbox" class="form-check-input" [(ngModel)]="assigneeInfo.isChecked" (ngModelChange)="toggleRoleActive()"/></th>
      <th scope="row">{{ pageSize*(currentPageNumber-1)+i + 1 }}</th>
      <td>{{ assigneeInfo.counted }}</td>
      <td>{{ assigneeInfo.plateNumber }}</td>
      <td>{{ assigneeInfo.vin }}</td>
      <td>{{ assigneeInfo.make }}</td>
      <td>{{ assigneeInfo.model }}</td>
      <td>{{ assigneeInfo.usage }}</td>
      <td>{{ assigneeInfo.assignee?.fullName }}</td>
    </tr>
    </tbody>
  </table>
  <div class="operation-section">
    <paging [pageSize]='pageSize'
            [fetchDataPromise]="getfetchDataPromise()"
            [searchContext]='searchContext'
            (updateStatus)="updateData($event)"
            (updateCurrentPageNumber)="updateCurrentPageNumber($event)"
    ></paging>
  </div>
</div>

