.root-container{
  position:relative;
  height:90vh;
  padding-top:20px;
}
.vehicles-assignees-table{
  td,th{
    padding-top:0.30rem;
    padding-bottom:0.30rem;
  }
}
.operation-section {
  float: right;
}

.search-section{
  margin-bottom: 20px;
  float: right;
}

.with-label{
  height: 3rem;
  display: inline-block;
  input{
    width:280px;
    display:inline-block;
  }
}