/deep/ @media screen and (min-width: 1440px){
  .container {
    width: 1200px;
    max-width: 100%;
  }
}

/deep/ @media screen and (min-width: 1920px){
  .container {
    width: 1600px;
    max-width: 100%;
  }
}

/deep/.show-modal {
  pointer-events: none;
}

/deep/.navbar > .container {
  align-items: baseline;
}

.nav-item {
  margin-left: 10px;
  margin-right: 10px;
}
.nav-item a{
  border-radius: 4px;
}

#user-full-name{
  color: white;
  padding: 8px 10px 8px 15px;
  display: inline-block;
}
