<message-box></message-box>
<tab-title></tab-title>
<navbar SideClass="navbar navbar-expand-lg navbar-dark indigo" *ngIf="isNavShow()">
  <logo><a class="navbar-brand" routerLink="/stocktake-record">VehicleButler</a></logo>
  <links>
    <ul class="navbar-nav mr-auto">
      <li [ngClass]="{'nav-item':true,'active':isActive('stocktake-record')}" >
        <a class="nav-link waves-light" ripple-radius routerLink="/stocktake-record">Stocktake Records</a>
      </li>
      <li [ngClass]="{'nav-item':true,'active':isActive('vehicles-assignees')}">
        <a class="nav-link waves-light" ripple-radius routerLink="/vehicles-assignees">Assignments</a>
      </li>
      <li [ngClass]="{'nav-item':true,'active':isActive('vehicles-delegate')}">
        <a class="nav-link waves-light" ripple-radius routerLink="/vehicles-delegate">Delegations</a>
      </li>
      <li [ngClass]="{'nav-item':true,'active':isActive('users')}">
        <a class="nav-link waves-light" ripple-radius routerLink="/users">Users</a>
      </li>
      <li [ngClass]="{'nav-item':true,'active':isActive('report')}">
        <a class="nav-link waves-light" ripple-radius routerLink="/report">Report</a>
      </li>
    </ul>
    <span id="user-full-name">{{getFullName()}}</span>
    <form class="form-inline  waves-light" ripple-radius >
      <button type="button" class="btn btn-primary btn-sm waves-light" (click)="logout()" ripple-radius>Logout</button>
    </form>
  </links>
</navbar>
<router-outlet></router-outlet>
