<div class="navigate-to-page  inline-block" *ngIf="getPageCount()>0">
  <nav>
    <ul class="pagination pg-blue">
      <li [ngClass]="{'page-item':true,'disabled':currentPageNumber ==1}"  (click)="goTo(currentPageNumber-1)">
      <span class="page-link" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </span>
      </li>
      <li [ngClass]="{'page-item':true,'active':currentPageNumber == pageId+1}"
          *ngFor="let pageId of generatePageNumberArray()">
        <span *ngIf="showPageNumber(pageId+1)" class="page-link" (click)="goTo(pageId+1)">{{pageId+1}}</span>
      </li>

      <li [ngClass]="{'page-item':true,'disabled':currentPageNumber>=getPageCount()}"  (click)="goTo(currentPageNumber+1)">
      <span class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </span>
      </li>
    </ul>
  </nav>
  <div class="inline-block">
    <span> Go to</span>
    <input maxlength="3" id="page-number-input" #targetPageNumber type="text"
           (keyup.enter)="goTo(targetPageNumber.value); targetPageNumber.value=''">
    <span>/ {{getPageCount()}}</span>
  </div>
</div>
