.navigate-to-page {
  display: inline-block;
  nav{
    display: inherit;
  }
  .inline-block {
    display: inline-block
  }
  #page-number-input {
    width: 20px;
    height: 20px;
    text-align: center;
  }
}

.page-item {
  &:hover {
    cursor: pointer;
  }
}

