<div class="modal-dialog modal-notify modal-info" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <p class="heading lead">New User</p>
      <a (click)="onCloseBtnPressed()"><i class="fa fa-close white-text"></i></a>
    </div>

    <div class="modal-body">
      <form>

        <div class="md-form">
          <input type="text" id="defaultForm-email" class="form-control" mdbActive (ngModelChange)="clearErrorMsg()"
                 [ngModelOptions]="{standalone: true}" [(ngModel)]="userModel.loginId">
          <label for="defaultForm-email">Your login ID</label>
        </div>

        <div class="md-form">
          <input type="password" id="defaultForm-pass" class="form-control" mdbActive (ngModelChange)="clearErrorMsg()"
                 [ngModelOptions]="{standalone: true}" [(ngModel)]="userModel.password">
          <label for="defaultForm-pass">Your password</label>
        </div>

        <div class="md-form">
          <input type="text" id="defaultForm-userName" class="form-control" mdbActive (ngModelChange)="clearErrorMsg()"
                 [ngModelOptions]="{standalone: true}" [(ngModel)]="userModel.fullName">
          <label for="defaultForm-userName">Full Name</label>
        </div>

        <div class="md-form" *ngIf="selectedRole=='External Delegate'">
          <input type="text" id="defaultForm-userName" class="form-control" mdbActive (ngModelChange)="clearErrorMsg();clearMobileErrorMsg()"
                 [ngModelOptions]="{standalone: true}" [(ngModel)]="userModel.mobile">
          <label for="defaultForm-userName">Mobile</label>
          <div>
            <span class="validation-error-mesage" *ngIf="showMobileErrorMsg"> Please fill correct mobile number. </span>
          </div>
        </div>

        <div class="md-form no-margin-bottom">
          <div class="btn-group" dropdown>
            <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle waves-light" ripple-radius>
              {{ selectedRole || "Select User Role"}}
            </button>

            <div class="dropdown-menu dropdown-primary">
              <a class="dropdown-item" (click)="selectedRole='System Admin';clearErrorMsg()" >System Admin</a>
              <a class="dropdown-item" (click)="selectedRole='Fleet Admin';clearErrorMsg()" >Fleet Admin</a>
              <a class="dropdown-item" (click)="selectedRole='External Delegate';clearErrorMsg()" >External Delegate</a>
            </div>
          </div>
        </div>
        <div>
          <span class="validation-error-mesage" *ngIf="showErrorMsg"> Please fill in all fields. </span>
        </div>
      </form>

    </div>

    <div class="modal-footer">
      <a class="btn btn-primary waves-effect" (click)="onSubmitBtnPressed()">Add</a>
    </div>
  </div>

</div>
