<div class="modal-wrapper" *ngIf="showMessage">
  <div class="modal-dialog modal-notify modal-info confirm-modal" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead">ALERT</p>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <p>{{message}}</p>
        </div>
      </div>

      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-primary" data-dismiss="modal"  (click)="onOKBtnPressed()">OK</button>
      </div>
    </div>
  </div>
</div>



