.modal-wrapper {
  pointer-events: all !important;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 80px;
  left: 0px;
  .modal-header{
    background-color: #aaa;
  }
  .modal-body {
    padding-bottom: 15px;
    p{
      text-align: left;
      padding-left: 0px;
    }
  }
  .confirm-modal {
    margin: 0 auto;
  }
}

button{
  margin-left: 340px;
  padding-top:9px;
  padding-bottom:9px;
}
