﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">

    @*<div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>*@
</div>

<div>
    <label for="url">Url:</label> <input type="text" name="url" value="" id="api" />
    <br />
    <label for="token">Authorization:</label> <input type="text" name="token" value="" id="token" />
    <br />
    <label for="content-type">Content-Type:</label> <input type="text" name="content-type" value="" id="content-type" />
    <br />
    @*<label for="body">Body:</label>*@
    @*<input type="text" name="body" value="" id="body" />*@
    <select id="method">
        <option value="get">GET</option>
        <option value="POST">POST</option>
        <option value="put">PUT</option>
    </select>
    <input type="button" value="Try it" onclick="sendRequest()" />
    <span id='value1'>(Result)</span>
</div>

@section scripts {
    <script>
        // TODO: Replace with the URL of your WebService app

        function sendRequest() {
            var api = $('#api').val();
            var token = $('#token').val();
            var method = $('#method').val();
            var contentType = $('#content-type').val();
            //var data = $('#body').val();
            //var grant_type = $('#grant_type').val();
            //console.log(method);
            $.ajax({
                type: method,
                url: api,
                //data: {
                //    'grant_type':'client_credentials'
                //},
                headers: {
                    //'Content-Type': contentType,
                    'Authorization': token
                },
                beforeSend: function myfunction() {
                    console.log(this.headers);
                    console.log(this.data);
                    console.log(this.type);
                    //this.type = "POST";
                }

            }).done(function (data) {
                $('#value1').text(data);
            }).error(function (jqXHR, textStatus, errorThrown) {
                $('#value1').text(jqXHR.responseText || textStatus);
            });
        }
    </script>
}